mat-form-field {
    width:400px;
  }
#type{
    width: 120px;
    margin-left: 10px;
  }
#addButton{
    margin-left: 20px;
}

#deleteButton{
    margin-right: 30px;
}
#addedOption{
  width: 400px;
}
#optionRow{
  margin-top: 100px;
}
#checkbox{
  margin-right: 10px;
}
mat-dialog-content{
  height: 390px;
  
}
.tag-list{
  width: 100%;

}
#heading{
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
#clearButton
{
  position: absolute;
  right: 0;
}
#save
{
  background-color:cadetblue;
  
  
  
}
#editButton
{
  background-color:cadetblue;
  
}
.mat-mini-fab{
  background-color: grey;

}
.mat-fab{
  background-color: grey;

}
mat-icon{
  color:white;
}
#status
{
  color: cadetblue;
}