<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a href="#"><img  width="53px" height="53px" class="responsive-img" src="../../assets/images/logo2.jpg"><strong class="brand">SurveyGuru</strong>
  </a>

    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-inline-start: 50px;">
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" style="color: white;" href="#" tabindex="-1" aria-disabled="true">Create Survey</a>
          </li>
        </ul>
        <div class="d-flex mx-4">
          <button class="btn btn-outline-success text-light" (click)="logout()">LogOut</button>
        </div>
      </div> -->
    <div class="d-flex mx-4">
      <button class="btn btn-outline-success text-light" (click)="logout()" style="margin-right: 10px;">LogOut</button>
      <!-- <ngx-avatar [name]=name [matTooltip]=name borderColor=black></ngx-avatar> -->
    </div>
  </div>
</nav>