<mat-card class="filledSurvey">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title  fxLayoutAlign="center" style="text-align: center;">{{survey.surveyTitle}}</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center">Created-On: {{formatDate(survey.activatedOn)}}</mat-card-subtitle>
    </mat-card-header>
    <div style="display: inline-flex;" fxLayout="row" fxLayoutAlign="space-between">
      <div style="display: inline-flex;margin: 5px 10px 0px 5px;" [matTooltip]="audience" matTooltipPosition="above">
        <mat-icon>supervisor_account</mat-icon><p style="padding-top: 3px; font-weight: 500;">{{(audience.length>10)? (audience | slice:0:10)+'...':(audience)}}</p>
      </div>
      <div style="display: inline-flex;margin: 5px 10px 0px 0px; min-width: fit-content;">
        <mat-icon>alarm</mat-icon><p style="padding-top: 3px; font-weight: 500;">{{survey.activeTime}} mins</p>
      </div>
    </div>
    <h4 [matTooltip]="description">{{ (description.length>80)? (description | slice:0:80)+'...':(description) }}</h4>
    <!-- <div style="display: inline-flex;">
      <div style="display: inline-flex;margin: 5px 10px 0px 5px;">
        <mat-icon>supervisor_account</mat-icon><p style="padding-top: 3px; font-weight: 500;">{{survey.targetAudience}}</p>
      </div>
      <div style="display: inline-flex;margin: 5px 10px 0px 0px; min-width: fit-content;">
        <mat-icon>alarm</mat-icon><p style="padding-top: 3px; font-weight: 500;">{{survey.activeTime}} mins</p>
      </div>
      <div style="display: inline-flex;margin: 5px 10px 0px 0px; min-width: fit-content;">
        <mat-icon>share</mat-icon><p style="padding-top: 3px; font-weight: 500;"><a href="sidenav/activesurvey">Share</a></p>
      </div>
    </div> -->

    <div style="display: inline-flex;" fxLayout="row" fxLayoutAlign="space-between">
      <button (click)="openDialog()"><mat-icon matTooltip="Share">share</mat-icon></button>
      <button (click)="openResponse()"><mat-icon matTooltip="Responses">assessment</mat-icon></button>
    </div>
</mat-card>