.filledSurvey button {
  border-radius: 3px;
  background-color: white;
  border: none;
}
/* .filledSurvey .mat-icon{
  font-size: 30px;
  margin-top: 5px;
} */
.filledSurvey h4{
  text-align: justify;
}