<div class="html">
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-card class="left-card" fxFlex="40">
            <h3 class="title">SurveyGuru</h3>
            <mat-list class="mylist" role="list">
                <mat-list-item class="fhead" role="listitem">Why choose us ?</mat-list-item>
                <mat-list-item class="features" role="listitem">
                    <mat-card>Build Surveys that work</mat-card>
                </mat-list-item>
                <mat-list-item class="features" role="listitem">
                    <mat-card>Make Clean reports</mat-card>
                </mat-list-item>
                <mat-list-item class="features" role="listitem">
                    <mat-card>Customize inside-out</mat-card>
                </mat-list-item>
                <mat-list-item class="features" role="listitem">
                    <mat-card>Share surveys in a wink</mat-card>
                </mat-list-item>
            </mat-list>
            <div class="bottom-line">
                <h2>Survey research,</h2>
                <h2>made easy</h2>
                <h3>One Stop platform for all your surveys</h3>
            </div>
        </mat-card>
        <mat-card class="right-card" fxFlex="40" fxLayoutAlign="center center">
            <div class="right-content">
                <h3 style="margin: 0; padding: 0; font-weight: lighter;">Are you</h3>
                <h1 style="margin: 0; padding: 0; font-weight: 500; font-size: 30px;">Struggling</h1>
                <h3 style="margin: 10px; padding: 0; font-weight: lighter;">for low response rate & targeting relevant
                    audience ?</h3>
                <h1 style="margin: 10px; padding: 0; font-weight: 500; font-size: 30px;">Come Join Us</h1>
                <h3 style="margin: 0; padding: 0; font-weight: lighter;">& let us solve your problems!</h3>
                <br>
                <!-- <mat-card><button (click)="login()">Log in with google</button></mat-card> -->
                <button mat-raised-button color="warn" (click)="login()">Log in with google</button>
                <!-- <button mat-raised-button color="primary">Log in with Facebook</button> -->
                <!-- <mat-card><a href="#">Log in with Facebook</a></mat-card> -->
            </div>
        </mat-card>
    </div>
</div>
