
<div class="container d-flex justify-content-center" *ngIf="spinner else hidespinner" >

    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>

</div>

<ng-template #hidespinner>

    <div class="container" >

        <div id="wrapper">

            <mat-tab-group mat-stretch-tabs >

                <mat-tab  label="Add Question">

                    <div class="no-question-card" *ngIf="noQuestionsAvaliableAccordingToTag">

                                <strong>There are no questions avaliable for selected tag(s). </strong><br />
                                Kindly add questions to your question group. 
                                To create new question group

                                <button mat-button (click)="redirectToQuestionGroupComponent()">
                                    Click here...
                                </button>
                                
                            
                    </div>

                    <div *ngIf="questionsAvaliable">

                        <div *ngIf="warningForLessQuestionsSelected">
                            <mat-hint>Kindly select atleast 5 questions for survey</mat-hint>
                        </div>

                            <mat-accordion>
                                <mat-expansion-panel class ="my-4" *ngFor="let question of surveyQuestions | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalFetchedQuestion}">
                                    
                                    <mat-expansion-panel-header>

                                        <span class="tag badge text-dark">{{question.questionType}}</span>
                                        
                                        <mat-panel-title>
                                            <input id={{question?.questionId}} type="checkbox" style="float: left; margin: 5px;" 
                                            (change)="onClickAddQuestionToSelectedQuestion($event)" 
                                            value={{question?.questionId}}>
                                            {{question.questionBody}}
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>

                                    

                                    <div class="options" *ngIf="question?.questionType === 'MCQ'">
                                        <div *ngFor="let option of question?.options">
                                            <mat-radio-button class="example-radio-button" disabled>
                                                {{option}}
                                            </mat-radio-button>
                                        </div>
                                    </div>
                        
                                    <div class="options" *ngIf="question?.questionType === 'CHECKBOX'">
                                        <div *ngFor="let option of question?.options">
                                            <mat-checkbox class="example-margin" [disabled]="true">
                                                {{option}}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                        
                                    
                                </mat-expansion-panel>
                            </mat-accordion> 

                        <div>

                            <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
                        
                        </div>
                    </div>

                </mat-tab>

            
                <mat-tab label="Selected Question" >

                    <div *ngIf="alreadyAddedQuestion?.length === 0" >

                        
                        <mat-card id="no-question-selected-selector">
                            
                                No questions selected
                            
                        </mat-card>

                    </div>

                    <div *ngIf=" alreadyAddedQuestion?.length > 0">

                            <mat-accordion class="question-listing">

                                    <mat-expansion-panel class ="my-4" *ngFor="let question of alreadyAddedQuestion | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalAddedQuestions} ">
                                    
                                        <mat-expansion-panel-header>
                                            
                                            <mat-panel-title>
                                                {{  question?.questionBody }} 
                                            </mat-panel-title>

                                            <mat-icon style="margin: 1%;" (click)="removeAlreadyAddedQuestion(question)">delete</mat-icon>
                                        </mat-expansion-panel-header>

                                    

                                        <div class="options" *ngIf="question?.questionType === 'MCQ'">
                                            <div *ngFor="let option of question?.options">
                                                <mat-radio-button class="example-radio-button" disabled>
                                                    {{option}}
                                                </mat-radio-button>
                                            </div>
                                        </div>
                        
                                        <div class="options" *ngIf="question?.questionType === 'CHECKBOX'">
                                            <div *ngFor="let option of question?.options">
                                                <mat-checkbox class="example-margin" [disabled]="true">
                                                    {{option}}
                                                </mat-checkbox>
                                            </div>
                                        </div>
                        
                                        

                                    </mat-expansion-panel>

                            </mat-accordion> 

                        <div>
                            <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
                        </div>
                        
                    </div>

                </mat-tab>

            </mat-tab-group>

        </div>

        <div>
            <button class="mx-2" mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button class="stepper-next" matStepperNext (click)="sendAlreadyAddedQuestionToParent()" [disabled]="disableNextButton">Next</button>
        </div>

    </div>

</ng-template>


